$headerHeight: 40px;
$sidebarWidth: 220px;

html {
    background: $bodyBgColor;
    overflow-y: scroll;
    height: 100%;
}
body {
    background: $bodyBgColor url("../images/bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
    overflow: visible !important;
    margin-bottom: 0 !important;
}
a, body, div, label, legend, li, ol, p, td, th, ul, fieldset, form, input, optgroup, select, textarea {
    color: #fff;
}
pre {
    background: rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.8);
    &, & code {
        color: #999;
    }
}



#header,
#left,
#main {
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    margin: 0;
}

#header {
    width: 100%;
    min-width: 990px;
    margin: 0 auto 24px auto;
    padding-bottom: 1px;
    height: $headerHeight;
    h1 {
        background: none;
        border: 0;
        border-radius: 0;
        float: left;
        margin-top: 7px;
        color: rgba(255,255,255,.7);
    }
    .tl_permalert {
        margin: 2px 20px 16px 20px;
        min-height: 35px;
    }
}

#main {
    width: auto;
    float: none;
    padding: 0;
}


#container {
    padding: $headerHeight 0 0 $sidebarWidth;
}

#container {
    @include borderBox;
    width: 100%;
    max-width: none;
}
#footer {
    display: none;
}

#left {
    @include abs-pos(0, $headerHeight, auto, 0);
    overflow: hidden;
    width: $sidebarWidth;
    float: none;
    margin: 0;

    h1 {
        display: none;
    }
    #tl_navigation ul {
        margin: 0 !important;
        padding: 0 !important;
    }
    #tl_navigation li {
        padding: 0 !important;
        display: block;
        margin: 0;
        min-width: auto;
    }
    li {
    }
    li.tl_level_1_group {
        margin-top: 1px;
    }
    li.tl_level_1_group:first-child,
    li.tl_parent {
        border: 0;
        margin-top: 0;
    }
    * {
        font: 13px Arial;
    }
    a {
        color: #fff;
        display: block;
        padding: 8px 10px 8px 37px;
        background-position: 10px 50%;
        line-height: 18px !important;
        opacity: 0.6;
    }
    a:hover {
        background-color: #50597b;
        background-color: rgba(255,255,255,.05);
        opacity: 1;
    }
    a.active {
        color: #fff;
        background-color: #272e45;
        background-color: rgba(0,0,0,.3);
        opacity: 1;
    }
    .tl_level_1_group a {
        background-color: rgba(255,255,255,.15);
        font-weight: bold;
        padding-left: 12px;
    }
}



.tl_content_left {
    overflow: hidden;
    width: auto;
}