/**
 * Design for rocksolid-custom-elements extension
 */

.rsce_list {
    .rsce_list_item {
        border-color: rgba(255,255,255,.4);
        border-radius: 2px;
        padding: 0 10px 15px 15px;
        .rsce_list_item_title {
            background: rgba(255,255,255,.1);
            border-color: rgba(255,255,255,.4);
            padding: 9px 15px 10px 15px;
            margin: 0 -10px 0 -15px;
        }
        .rsce_list_toolbar {
            a {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}